$bg-blue: #FFF;

header {
    background-color: $bg-blue;
    h1 {
        color: red;
        font-size: 2em;
        font-weight: bold;
    }
    h4 {
        background-color: red;

    }
    h2 {
        background-color: green;
    }
    h5 {
        display: none;
    }
} 

.hola {
    background-color: red;
}